<nav class="navbar navbar-expand-lg bg-danger fixed-top navbar-transparent" color-on-scroll="500">
  <div class="container">
    <div class="dropdown button-dropdown">
      <div ngbDropdown>
        <a class="dropdown-toggle" ngbDropdownToggle>
          <span class="button-bar"></span>
          <span class="button-bar"></span>
          <span class="button-bar"></span>
        </a>
        <div ngbDropdownMenu>
          <a class="dropdown-item" [routerLink]="['/calendar']">Calendar</a>
          <a class="dropdown-item">unfinished </a>
          <a class="dropdown-item">unfinished </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">unfinished </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">unfinished </a>
        </div>
      </div>
    </div>
    <div class="navbar-translate">
      <a class="navbar-brand" placement="bottom" ngbTooltip="Designed by Invision. Coded by Moses!!!!!" [routerLink]="['/home']"> Moises Porfolio </a>
      <button class="navbar-toggler" type="button" (click)="sidebarToggle()">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="red">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Contactame en Twitter" data-placement="bottom" href="https://twitter.com/moises_2702" target="_blank">
            <i class="fab fa-twitter"></i>
            <p class="d-lg-none d-xl-none">Twitter</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Visita mi Facebook" data-placement="bottom" href="https://www.facebook.com/moises.camacho2/" target="_blank">
            <i class="fab fa-facebook-square"></i>
            <p class="d-lg-none d-xl-none">Facebook</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Mira el repositorio con los proyectos " data-placement="bottom" href="https://github.com/CamachoMoises" target="_blank">
            <i class="fab fa-github"></i>
            <p class="d-lg-none d-xl-none">github</p>
          </a>
        </li>
        <li class="nav-item" *ngIf="sidebarVisible">
          <div ngbDropdown class="dropdown">
            <a class="nav-link dropdown-toggle" ngbDropdownToggle>
              <p>Paginas</p>
            </a>
            <div ngbDropdownMenu class="dropdown-menu">
              <a class="dropdown-item" [routerLink]="['/calendar']">Calendar</a>
              <a class="dropdown-item">unfinished </a>
              <a class="dropdown-item">unfinished </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item">unfinished </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item">unfinished </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
