<div class="title">Login</div>

<div class="C1">
	<div class="S1">
		<div>
			<img src="assets/img/Prolix/wrogUser.JPG" alt="" srcset="" (click)="SeeImage('assets/img/Prolix/wrogUser.JPG')" />
		</div>
	</div>
	<div class="S2">Wrong User</div>
</div>
<div class="C2">
	<div class="S3">Wrong Password</div>
	<div class="S4">
		<div>
			<img src="assets/img/Prolix/wrongPassword.JPG" alt="" srcset="" (click)="SeeImage('assets/img/Prolix/wrongPassword.JPG')" />
		</div>
	</div>
</div>

<div class="C2">
	<div class="S5">
		<div>
			<img src="assets/img/Prolix/lockedScreen.JPG" alt="" srcset="" (click)="SeeImage('assets/img/Prolix/lockedScreen.JPG')" />
		</div>
	</div>
	<div class="S6">Locked Screen</div>
</div>

<div class="title">Dashboard</div>

<div class="C2">
	<div class="S7">New Event</div>
	<div class="S8">
		<div>
			<img src="assets/img/Prolix/newMeeting.JPG" alt="" srcset="" (click)="SeeImage('assets/img/Prolix/newMeeting.JPG')" />
		</div>
	</div>
</div>
<div class="C2">
	<div class="S9">
		<div>
			<img src="assets/img/Prolix/eventFilter.JPG" alt="" srcset="" (click)="SeeImage('assets/img/Prolix/eventFilter.JPG')" />
		</div>
	</div>
	<div class="S10">Event Filter</div>
</div>

<div class="title">Employees</div>

<div class="C3">
	<div class="S11">
		<div>
			<img src="assets/img/Prolix/employeeInterface.JPG" alt="" srcset="" (click)="SeeImage('assets/img/Prolix/employeeInterface.JPG')" />
		</div>
	</div>
	<div class="S12">Employees interface</div>
</div>

<div class="C2">
	<div class="S13">Employees documentation</div>
	<div class="S14">
		<div>
			<img src="assets/img/Prolix/pdf.png" alt="" srcset="" (click)="SeeImage('assets/img/Prolix/')" />
		</div>
	</div>
</div>

<div class="C2">
	<div class="S15">
		<div>
			<img src="assets/img/Prolix/list.png" alt="" srcset="" (click)="SeeImage('assets/img/Prolix/pdf.png')" />
		</div>
	</div>

	<div class="S16">List of employees</div>
</div>

<div class="title">Oragnization</div>

<div class="C2">
	<div class="S17">New Area</div>
	<div class="S18">
		<div>
			<img src="assets/img/Prolix/newArea.JPG" alt="" srcset="" (click)="SeeImage('assets/img/Prolix/newArea.JPG')" />
		</div>
	</div>
</div>

<div class="C2">
	<div class="S19">
		<div>
			<img src="assets/img/Prolix/newPosition.JPG" alt="" srcset="" (click)="SeeImage('assets/img/Prolix/newPosition.JPG')" />
		</div>
	</div>
	<div class="S20">New Position</div>
</div>
<div class="C2">
	<div class="S21">Chart</div>
	<div class="S22">
		<div>
			<img src="assets/img/Prolix/chart.png" alt="" srcset="" (click)="SeeImage('assets/img/Prolix/chart.png')" />
		</div>
	</div>
</div>

<div class="title">Contracts</div>

<div class="C3">
	<div class="S23">
		<div>
			<img src="assets/img/Prolix/contracts.JPG" alt="" srcset="" (click)="SeeImage('assets/img/Prolix/contracts.JPG')" />
		</div>
	</div>
	<div class="S24">Contracts Interface</div>
</div>

<div class="C2">
	<div class="S25">
		<div>
			<img src="assets/img/Prolix/contractsList.png" alt="" srcset="" (click)="SeeImage('assets/img/Prolix/contractsList.png')" />
		</div>
	</div>

	<div class="S26">List of Contracts</div>
</div>

<div class="title">Request</div>

<div class="C2">
	<div class="S27">New Request</div>
	<div class="S28">
		<div>
			<img src="assets/img/Prolix/request.JPG" alt="" srcset="" (click)="SeeImage('assets/img/Prolix/request.JPG')" />
		</div>
	</div>
</div>

<div class="C2">
	<div class="S29">
		<div>
			<img src="assets/img/Prolix/request.png" alt="" srcset="" (click)="SeeImage('assets/img/Prolix/request.png')" />
		</div>
	</div>
	<div class="S30">List of Request</div>
</div>

<div class="title">Spreadsheets</div>

<div class="C3">
	<div class="S31">
		<div>
			<img src="assets/img/Prolix/spreadsheetID.png" alt="" srcset="" (click)="SeeImage('assets/img/Prolix/spreadsheetID.png')"/>
		</div>
	</div>
	<div class="S32">Spreadsheets Interface</div>
</div>

<div class="C2">
	<div class="S33">Spreadsheet</div>
	<div class="S34">
		<div>
			<img src="assets/img/Prolix/spreadsheet.png" alt="" srcset="" (click)="SeeImage('assets/img/Prolix/spreadsheet.png')" />
		</div>
	</div>
</div>

<div class="title">Profiles</div>

<div class="C2">
	<div class="S35">
		<div>
			<img src="assets/img/Prolix/profiles.JPG" alt="" srcset="" (click)="SeeImage('assets/img/Prolix/profiles.JPG')"/>
		</div>
	</div>
	<div class="S36">Profile Options</div>
</div>
