.C1,
.C2 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.C3 {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.C2,
.C3 {
	margin-top: 20px;
}
.S2,
.S3,
.S6,
.S7,
.S10,
.S13,
.S16,
.S17,
.S20, 
.S21,
.S26,
.S27,
.S30,
.S33,
.S36{
	flex-grow: 3;
}
.S1 {
	img {
		width: 231px;
		height: 318px;
	}
}
.S2 {
	background-color: ghostwhite;
}
.S3 {
	background-color: ghostwhite;
}
.S4 {
	img {
		width: 229px;
		height: 319px;
	}
}
.S5 {
	img {
		width: 245px;
		height: 297px;
	}
}
.S6 {
	background-color: ghostwhite;
}
.S7 {
	background-color: ghostwhite;
}
.S8 {
	img {
		width: 324px;
		height: 262px;
	}
}
.S9 {
	img {
		width: 146px;
		height: 239px;
	}
}
.S10 {
	background-color: ghostwhite;
}
.S12 {
	background-color: ghostwhite;
}
.S13 {
	background-color: ghostwhite;
}
.S14 {
	img {
		width: 447px;
		height: 632px;
	}
}
.S15 {
	img {
		width: 440px;
		height: 340px;
	}
}
.S16{
	background-color: ghostwhite;
}
.S17 {
	background-color: ghostwhite;
}
.S18{
	img {
		width: 371px;
		height: 204px;
	}
}
.S19{
	img {
		width: 412px;
		height: 276px;
	}
}
.S20{
	background-color: ghostwhite;
}
.S21{
	background-color: ghostwhite;
}
.S22 {
	img {
		width: 440px;
		height: 340px;
	}
}
.S24{
	background-color: ghostwhite;
}

.S25 {
	img {
		width: 412px;
		height: 276px;
	}
}
.S26{
	background-color: ghostwhite;
}
.S27 {
	background-color: ghostwhite;
}
.S28 {
	img {
		width: 238px;
		height: 223px;
	}
}

.S29 {
	img {
		width: 440px;
		height: 340px;
	}
}
.S30{
	background-color: ghostwhite;
}
.S32{
	background-color: ghostwhite;
}
.S33{
	background-color: ghostwhite;
}
.S34 {
	img {
		width: 440px;
		height: 340px;
	}
}

.S35{
	img {
		width: 474px;
		height: 206px;
	}
}

.S36{
	background-color: ghostwhite;
}
                                