.sec1 {
	/* background: rgb(243, 229, 100); */
}

div.sec2 {
	/* background: rgb(243, 100, 100); */

	display: flex;
	flex-direction: column;

}
mat-card.test {
	color: blue;
	align-self: stretch;
	flex: 1 1 auto;
}


.sec3 {
	/* background: rgb(129, 253, 146); */
}

.sec4 {
	/* background: rgb(82, 99, 245); */
	margin-bottom: 3px;
}



mat-card {
	margin-bottom: 2px;
	/* color: rgb(94, 6, 6); */
}

.button {
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 3;
	padding: 1rem;
	background-color: #ffffff;
	border: 1px solid #ffffff;
	cursor: pointer;
	font-size: 1.5rem;
	width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.6s ease-in-out;
}
