<div class="wrapper">
	<div class="page-header page-header-small">
		<div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/arpad-czapp-H424WdcQN4Y-unsplash.jpg')"></div>
		<div class="container">
			<div class="content-center">
				<h1 class="title">{{ 'knowledge.title' | translate }}</h1>
				<div class="text-center">
					<a href="https://www.facebook.com/moises.camacho2/" class="btn btn-info btn-icon btn-round">
						<i class="fab fa-facebook-square"></i>
					</a>
					<a href="https://twitter.com/moises_2702" class="btn btn-info btn-icon btn-round">
						<i class="fab fa-twitter"></i>
					</a>
					<a href="https://www.linkedin.com/in/moises-camacho-5a900194/" class="btn btn-info btn-icon btn-round">
						<i class="fab fa-linkedin"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="section section-about-us">
		<div class="container">
			<div class="bounds">
				<div fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutGap="5px">
					<div fxFlex="70" class="sec1" fxFlex.xs="55">
						<div class="text-center">
							<h2 class="title">{{ 'knowledge.abilities.tittle' | translate }}</h2>
						</div>
						<div fxLayout="column" fxLayoutGap="5px">
							<div fxFill>
								<app-front-k></app-front-k>
							</div>
							<div fxFill class="sec3">
								<app-back-k></app-back-k>
							</div>
							<div fxFill class="sec4">
								<app-data-k></app-data-k>
							</div>
						</div>
					</div>
					<div fxFlex="30" class="sec2">
						<div class="text-center">
							<h2 class="title">Software</h2>
						</div>
						<mat-card fxFill>
						</mat-card>
					</div>
				</div>
			</div>
			<app-contact></app-contact>
		</div>
	</div>
</div>
<button class="button" *ngIf="showButton" (click)="onscrollTop()" type="button">⬆️</button>
