<div class="C1">
	<div class="S1">
		<p>Users</p>
	</div>
	<div class="S2">
		<div>
			<img src="assets/img/prolixBack/usuarios.jpg" />
		</div>
	</div>
</div>

<div class="C2">
	<div class="S3">
		<div>
			<img src="assets/img/prolixBack/contratros.jpg" />
		</div>
	</div>

	<div class="S4">
		<p>Contracts</p>
	</div>
</div>

<div class="C3">
  <div class="S5">
		<p>Employees</p>
	</div>
	<div class="S6">
		<div>
			<img src="assets/img/prolixBack/empleados.jpg" />
		</div>
	</div>
</div>


<div class="C2">
	<div class="S7">
		<div>
			<img src="assets/img/prolixBack/planilla.jpg" />
		</div>
	</div>
	<div class="S8">
		<p>Spreadsheets</p>
	</div>
</div>

<div class="C3">
  <div class="S9">
		<p>Request</p>
	</div>
	<div class="S10">
		<div>
			<img src="assets/img/prolixBack/solicitud.jpg" />
		</div>
	</div>
</div>

<div class="C2">
	<div class="S11">
		<div>
			<img src="assets/img/prolixBack/home.jpg" />
		</div>
	</div>
	<div class="S12">
		<p>Home</p>
	</div>
</div>

<!--
  <div class="col-md-12 ml-auto mr-auto">
    <div class="row collections">
      <div class="col-md-6">
        <img src="assets/img/bg3.jpg" alt="" class="img-raised" />
        <img src="assets/img/bg8.jpg" alt="" class="img-raised" />
      </div>
      <div class="col-md-6">
        <img src="assets/img/bg7.jpg" alt="" class="img-raised" />
        <img src="assets/img/bg6.jpg" class="img-raised" />
      </div>
    </div>
  </div>
-->
