<div class="wrapper">
  <div class="page-header page-header-small">
    <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/hedgehog-digital-DKrlj5_TNpw-unsplash.jpg')"></div>
    <div class="container">
      <div class="content-center">
        <h1 class="title">Calendario reactivo</h1>

        <div class="content">
          <div cng slass="social-description">
            <h2>26</h2>
            <p>Comments</p>
          </div>
          <div class="social-description">
            <h2>26</h2>
            <p>Comments</p>
          </div>
          <div class="social-description">
            <h2>48</h2>
            <p>Bookmarks</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="button-container">
        <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/CamachoMoises/calendario" target="_blank" rel="tooltip" title="Mira el repositorio en GitHub">
          <i class="fab fa-github"></i>
          <p class="d-lg-none d-xl-none">github</p>
        </a>
      </div>
      <h3 class="title">Acerca del proyecto</h3>
      <h4 class="description">
        Se usó Angular, Angular Material, TypeScript, RxJS, Firebase y AngularFire como tecnología principal
        para crear un calendario completamente reactivo que funciona en tiempo real. 
        
      </h4>
      <div class="row">
        <div class="col-md-12">
          

          
          


        </div>
      </div>
    </div>
  </div>
</div>
