<div class="wrapper">
  <div class="page-header page-header-small">
    <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/hedgehog-digital-DKrlj5_TNpw-unsplash.jpg')"></div>
    <div class="container">
      <div class="content-center">
        <h1 class="title"> {{ 'calendar.title' | translate }} </h1>

        <div class="content">
          <div>
            <p>{{ 'calendar.banner.date' | translate }}</p>
            <h2> {{date.toDateString()}} </h2>
          </div>
          <div class="social-description" *ngIf="filter" >
            <h2> {{this.filter.length}} </h2>
            <p>{{ 'calendar.banner.inputs' | translate }}</p>
          </div>
          <div class="social-description">
            <h2> {{  viewSelected | translate }} </h2>
            <p> {{ 'calendar.banner.view.title' | translate }} </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="button-container">
        <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/CamachoMoises/calendario" target="_blank" rel="tooltip" title="Mira el repositorio en GitHub">
          <i class="fab fa-github"></i>

        </a>
      </div>
      <h3 class="title">{{ 'calendar.banner.about' | translate }}</h3>
      <h4 class="description"> {{ 'calendar.banner.desc' | translate }} </h4>
      <div class="row">
        <div class="col-md-12">
         <mat-card>
          <app-topbar 
          (next)="onNext()" 
          (previous)="onPrevious()" 
          (setViewMode)="onSetViewMode($event)" 
          (searchChanged)="onSearchChanged($event)"> ></app-topbar>
          <div class="main" [ngSwitch]="viewMode$ | async">
            <app-day-view 
            *ngSwitchCase="VIEW_MODE.DAY" 
            [date]="currentDate$ | async" 
            [appointments]="filter" 
            [userActive]="maintenanceService.ActiveUser$ | async"
            [signIn]="maintenanceService.SignIn$ | async"
            (removeAppointment)="onRemoveAppointment($event)" 
            (addAppointment)="onAddAppointment($event)" 
            (updateAppointment)="onUpdateAppointment($event)"></app-day-view>

            <app-week-view 
            *ngSwitchCase="VIEW_MODE.WEEK" 
            [year]="currentYear$ | async" 
            [week]="currentWeek$ | async" 
            [appointments]="filter" 
            (selectedDay)="onSetViewMode('DAY', $event)" 
            ></app-week-view>
            <app-month-view 
            *ngSwitchCase="VIEW_MODE.MONTH" 
            [month]="currentMonth$ | async" 
            [year]="currentYear$ | async" 
            [appointments]="filter" 
            (selectedDay)="onSetViewMode('DAY', $event)" 
            ></app-month-view>
          </div>
         </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
