<mat-expansion-panel hideToggle="false">
	<mat-expansion-panel-header [collapsedHeight]="'150px'">
		<mat-panel-title>
			<img src="assets/img/backend.png" alt="Thumbnail Image" id="thumbnail1" />
		</mat-panel-title>
		<mat-panel-description fxLayoutAlign="start center"> {{ 'knowledge.abilities.backend.title' | translate }} </mat-panel-description>
	</mat-expansion-panel-header>
	<div class="content" fxLayout="column" fxFlexFill fxLayoutGap="5px">
		<div class="section-team">
			<div class="container">
				<div class="team text-center">
					<div class="row">
						<div class="col-md-6">
							<mat-card>
								<div class="team-player">
									<img src="assets/img/nodejs.png" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised" height="30p" />
									<h4 class="title">{{ 'knowledge.abilities.backend.nodejs.title' | translate }}</h4>
									<p class="category text-info">{{ 'knowledge.abilities.backend.nodejs.subtitle' | translate }}</p>
									<p class="description">
										{{ 'knowledge.abilities.backend.nodejs.description' | translate }}
									</p>
									<!-- <button class="btn btn-info btn-round" mat-button>{{ 'knowledge.abilities.button.More' | translate }}</button> -->
									<button class="btn btn-round" mat-button>{{ 'knowledge.abilities.button.More' | translate }}</button>
								</div>
							</mat-card>
						</div>
						<div class="col-md-6">
							<mat-card>
								<div class="team-player">
									<img src="assets/img/Express2.png" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised" />
									<h4 class="title">{{ 'knowledge.abilities.backend.express.title' | translate }}</h4>
									<p class="category text-info">{{ 'knowledge.abilities.backend.express.subtitle' | translate }}</p>
									<p class="description">{{ 'knowledge.abilities.backend.express.description' | translate }}</p>
									<!-- <button class="btn btn-info btn-round" mat-button>{{ 'knowledge.abilities.button.More' | translate }}</button> -->
									<button class="btn btn-round" mat-button>{{ 'knowledge.abilities.button.More' | translate }}</button>

								</div>
							</mat-card>
						</div>
					</div>
				</div>
				<br />
				<div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutGap="5px">
					<div fxFill>
						<mat-card>
							<mat-card-header>
								<div mat-card-avatar class="header-image5"></div>
								<mat-card-title>{{ 'knowledge.abilities.backend.NPM.title' | translate }} </mat-card-title>
								<mat-card-subtitle> {{ 'knowledge.abilities.backend.NPM.subtitle' | translate }} </mat-card-subtitle>
							</mat-card-header>
							<mat-card-content>
								<ul>
									<li *ngFor="let package of NPMPackages" class="description">
										<div *ngIf="package === 'rxjs'; else other">
											<b>{{ package }}</b>
										</div>
										<ng-template #other>
											{{ package }}
										</ng-template>
									</li>
								</ul>
							</mat-card-content>
						</mat-card>
					</div>
				</div>
			</div>
		</div>
	</div>
</mat-expansion-panel>
