#thumbnail1{
    max-height: 115px;
    width: auto;
  }


  .header-image5{
    background: url("/assets/img/npm.png");
    background-repeat: no-repeat;
    background-size: 30px auto;
    background-position: center; 
  }

  