
<ng-template #classic let-c="close" let-d="dismiss">
    <div class="modal-header justify-content-center">
        <h4 class="title title-up">Moses Inc</h4>
    </div>
    <div class="modal-body">
        <p>
            Un gusto que hayas entrado a mi pagina personal, este es un proyecto aun en desarrollo y presenta secciones incompletas y con bugs,
            aun asi espero sea de tu agrado y si lo deseas puedes contactarme en el formulario de abajo, por mis redes sociales o mi correo 
            <strong> moisescamacho26@gmail.com  </strong>
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="c('Close click')">Cerrar</button>
    </div>
</ng-template>

<ng-template #modal_mini let-c="close" let-d="dismiss">
  <div class="modal-header justify-content-center">
      <div class="modal-profile">
          <i class="now-ui-icons users_circle-08"></i>
      </div>
  </div>
  <div class="modal-body">
      <p>Always have an access to your profile</p>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-link btn-neutral">Back</button>
      <button type="button" class="btn btn-link btn-neutral" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
