<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-mini-fab color="primary" (click)="previous.emit()" aria-label="Example icon button with a delete icon">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button mat-mini-fab color="primary" (click)="next.emit()" aria-label="Example icon button with a delete icon">
      <mat-icon>chevron_right</mat-icon>
    </button>
    <button mat-button (click)="setViewMode.emit(VIEW_MODE.DAY)"> {{ 'calendar.banner.view.DAY' | translate }} </button>
    <button mat-button (click)="setViewMode.emit(VIEW_MODE.WEEK)"> {{ 'calendar.banner.view.WEEK' | translate }} </button>
    <button mat-button (click)="setViewMode.emit(VIEW_MODE.MONTH)">{{ 'calendar.banner.view.MONTH' | translate }}</button>
    <span class="example-spacer"></span>

  </mat-toolbar-row>
  <mat-toolbar-row>
    <mat-form-field class="form-field">
      <mat-label>{{ 'calendar.banner.search' | translate }}</mat-label>
      <input matInput type="text" [(ngModel)]="value" (keyup)="searchChanged.emit($event.target.value)" />
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value = ''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>
