<div class="carousel" id="carousel">
	<div class="center">
		<img [src]="banner" alt="" />
		<ngb-carousel>
			<ng-template ngbSlide *ngFor="let project of carouselProject">
				<img class="d-block" [src]="project.src" alt="First slide" (click)="seePhoto()" />
				<div class="carousel-caption d-none d-md-block">
					<h5 class="Carousel">{{ project.name | translate }}</h5>
				</div>
			</ng-template>
		</ngb-carousel>
	</div>
</div>
<div class="section">
	<div class="container">
		<mat-tab-group mat-align-tabs="center" (selectedIndexChange)="selectedIndexChange($event)">
			<mat-tab>
				<ng-template mat-tab-label> Prolix </ng-template>
				<div class="title">
					<h2>{{ 'gallery.prolix.title' | translate }}</h2>
					<p>{{ 'gallery.prolix.description' | translate }}</p>
				</div>
				<app-prolix></app-prolix>

			</mat-tab>

			<mat-tab>
				<ng-template mat-tab-label> Back Prollix </ng-template>
				<div class="title">
					<h2>{{ 'gallery.prolix.title' | translate }}</h2>
					<p>{{ 'gallery.prolix.description' | translate }}</p>
				</div>
				<app-prolix-back></app-prolix-back>
			</mat-tab>
			
			<mat-tab>
				<ng-template mat-tab-label> B&L Inventario </ng-template>
				<div class="title">
					<h2>{{ 'gallery.B-L-Project.title' | translate }}</h2>
					<p>{{ 'gallery.B-L-Project.description' | translate }}</p>
				</div>
				<app-B-L-Project></app-B-L-Project>

			</mat-tab>

			<mat-tab>
				<ng-template mat-tab-label> TechnoIDentia </ng-template>
				<div class="title">
					<h2>{{ 'gallery.technoidentia.title' | translate }}</h2>
					<p>{{ 'gallery.technoidentia.description' | translate }}</p>
				</div>
				<app-TechnoIDentia></app-TechnoIDentia>
			</mat-tab>

			<mat-tab>
				<ng-template mat-tab-label> Hogwarts </ng-template>
				<div class="title">
					<h2>{{ 'gallery.Hogwarts.title' | translate }}</h2>
					<p>{{ 'gallery.Hogwarts.description' | translate }}</p>
				</div>
				<app-Hogwarts></app-Hogwarts>

			</mat-tab>
		</mat-tab-group>
	</div>
</div>
<button class="button" *ngIf="showButton" (click)="onscrollTop()" type="button">⬆️</button>

<!-- </div> -->
