<div fxLayout="column" fxFlexFill fxLayoutGap="5px">
	<mat-accordion>
		<mat-expansion-panel hideToggle="false">
			<mat-expansion-panel-header>
				<mat-panel-title>
					<img mat-card-avatar src="assets/img/git.png" />
				</mat-panel-title>
				<mat-panel-description fxLayoutAlign="start center"> Git </mat-panel-description>
			</mat-expansion-panel-header>
			<p class="just">{{ 'knowledge.abilities.software.list.git.description' | translate }}</p>
			<mat-card-actions align="end">
				<button class="btn btn-info btn-round" (click)="moreGit($event)">{{ 'knowledge.abilities.button.More' | translate }}</button>
			</mat-card-actions>
		</mat-expansion-panel>
	</mat-accordion>

	<mat-accordion>
		<mat-expansion-panel hideToggle="false">
			<mat-expansion-panel-header>
				<mat-panel-title>
					<img mat-card-avatar src="assets/img/firebase.png" />
				</mat-panel-title>
				<mat-panel-description fxLayoutAlign="start center"> Firebase </mat-panel-description>
			</mat-expansion-panel-header>
			<h2 class="just">{{ 'knowledge.abilities.software.list.firebase.description' | translate }}</h2>
			<h3>{{ 'knowledge.abilities.software.list.firebase.sheet.hosting.title' | translate }}</h3>
			<p>
				{{ 'knowledge.abilities.software.list.firebase.sheet.hosting.description' | translate }}
			</p>
			<h3>{{ 'knowledge.abilities.software.list.firebase.sheet.cloud-storage.title' | translate }}</h3>
			<p>
				{{ 'knowledge.abilities.software.list.firebase.sheet.cloud-storage.description' | translate }}
			</p>
			<h3>{{ 'knowledge.abilities.software.list.firebase.sheet.realtime-database.title' | translate }}</h3>
			<p>
				{{ 'knowledge.abilities.software.list.firebase.sheet.realtime-database.description' | translate }}
			</p>
		</mat-expansion-panel>
	</mat-accordion>
	<mat-accordion>
		<mat-expansion-panel hideToggle="false">
			<mat-expansion-panel-header>
				<mat-panel-title>
					<img mat-card-avatar src="assets/img/clever-cloud.png" />
				</mat-panel-title>
				<mat-panel-description fxLayoutAlign="start center"> Clever Cloud </mat-panel-description>
			</mat-expansion-panel-header>
			<h2 class="just">{{ 'knowledge.abilities.software.list.clever-cloud.database.mysql' | translate }}</h2>
			<p>{{ 'knowledge.abilities.software.list.clever-cloud.description' | translate }}</p>
			<p>
				{{ 'knowledge.abilities.software.list.clever-cloud.database.description' | translate }}
			</p>
		</mat-expansion-panel>
	</mat-accordion>
	<mat-accordion>
		<mat-expansion-panel hideToggle="false">
			<mat-expansion-panel-header>
				<mat-panel-title>
					<img mat-card-avatar src="assets/img/cloudinary.png" />
				</mat-panel-title>
				<mat-panel-description fxLayoutAlign="start center"> Cloudinary </mat-panel-description>
			</mat-expansion-panel-header>
			<h2>
				{{ 'knowledge.abilities.software.list.cloudinary.tittle' | translate }}
			</h2>
			<p>
				{{ 'knowledge.abilities.software.list.cloudinary.description' | translate }}
			</p>
			<ul>
				<li>
					{{ 'knowledge.abilities.software.list.cloudinary.list.first' | translate }}
				</li>
				<li>
					{{ 'knowledge.abilities.software.list.cloudinary.list.second' | translate }}
				</li>
				<li>
					{{ 'knowledge.abilities.software.list.cloudinary.list.third' | translate }}
				</li>
				<li>
					{{ 'knowledge.abilities.software.list.cloudinary.list.fourth' | translate }}
				</li>
			</ul>
		</mat-expansion-panel>
	</mat-accordion>
	<mat-accordion>
		<mat-expansion-panel hideToggle="false">
			<mat-expansion-panel-header>
				<mat-panel-title>
					<img mat-card-avatar src="assets/img/heroku.png" />
				</mat-panel-title>
				<mat-panel-description fxLayoutAlign="start center"> Heroku </mat-panel-description>
			</mat-expansion-panel-header>
			<p>
				{{ 'knowledge.abilities.software.list.heroku.description' | translate }}

			</p>
		</mat-expansion-panel>
	</mat-accordion>

	<mat-accordion>
		<mat-expansion-panel hideToggle="false">
			<mat-expansion-panel-header>
				<mat-panel-title>
					<img mat-card-avatar src="assets/img/Postman.png" />
				</mat-panel-title>
				<mat-panel-description fxLayoutAlign="start center"> Postman </mat-panel-description>
			</mat-expansion-panel-header>
			<p>
				{{ 'knowledge.abilities.software.list.postman.description' | translate }}

			</p>

		</mat-expansion-panel>
	</mat-accordion>

	<!-- <mat-card>
      <mat-card-header>
        <img mat-card-avatar src="assets/img/default-avatar.png">
        <mat-card-title>John Deo</mat-card-title>
        <mat-card-subtitle>Manager</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/img/bg11.jpg">
      <mat-card-content>
        <p>The Shiba Inu is the smallest of the six original and distinct spitz breeds
          of dog from Japan. A small, agile dog that copes very well with mountainous
          terrain, the Shiba Inu was originally bred for hunting.</p>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <div fxLayout="row">
          <button mat-icon-button>
            <mat-icon class="col-blue">share</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon class="col-red">favorite</mat-icon>
          </button>
          <span fxFlex></span>
          <button mat-button>
            details
          </button>
          <button mat-button>
            save
          </button>
        </div>
      </mat-card-actions>
    </mat-card> -->
</div>
