<div class="wrapper">
	<div class="page-header page-header-small">
		<div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/arpad-czapp-H424WdcQN4Y-unsplash.jpg')"></div>
		<div class="container">
			<div class="content-center">
				<h1 class="title">{{ 'profile.title' | translate }}</h1>
				<div class="text-center">
					<a href="https://www.facebook.com/moises.camacho2/" class="btn btn-info btn-icon btn-round">
						<i class="fab fa-facebook-square"></i>
					</a>
					<a href="https://twitter.com/moises_2702" class="btn btn-info btn-icon btn-round">
						<i class="fab fa-twitter"></i>
					</a>
					<a href="https://www.linkedin.com/in/moises-camacho-5a900194/" class="btn btn-info btn-icon btn-round">
						<i class="fab fa-linkedin"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="section section-about-us">
		<div class="container">
			<div class="row">
				<div class="col-md-8 ml-auto mr-auto text-center">
					<h1 class="title">{{ 'profile.whoIam' | translate }}</h1>
					<p class="description">{{ 'profile.description' | translate }}</p>
				</div>
			</div>
			<div class="separator separator-info"></div>
			<div class="row">
				<div class="col-md-8 ml-auto mr-auto text-center">
					<h1 class="title">{{ 'profile.education.title' | translate }}</h1>
				</div>
			</div>
			<div class="section-story-overview">
				<div class="row">
					<div class="col-md-6">
						<div class="image-container image-left" style="background-image: url('assets/img/IMG-20171219-WA0005.jpg')">
							<!-- First image on the left side -->
							<p class="blockquote blockquote-info">
								“La inspiración existe, pero tiene que encontrarte trabajando”
								<br />
								<br />
								<small>-Pablo Picasso.</small>
							</p>
						</div>
						<!-- Second image on the left side of the article -->
						<div class="image-container" style="background-image: url('assets/img/UDO-Monagas.jpg')"></div>
					</div>
					<div class="col-md-5">
						<!-- First image on the right side, above the article -->
						<div class="image-container image-right" style="background-image: url('assets/img/UDO.jpg')"></div>
						<h3>{{ 'profile.education.education_line.1' | translate }}</h3>
						<p>{{ 'profile.education.education_line.2' | translate }}</p>
						<p>{{ 'profile.education.education_line.3' | translate }}</p>
						<p>{{ 'profile.education.education_line.4' | translate }}</p>
					</div>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-md-8 ml-auto mr-auto text-center">
					<h1 class="title">{{ 'profile.professional.title' | translate }}</h1>
				</div>
			</div>
			<div class="section section-team text-center">
				<div class="container">
					<div class="team">
						<div class="row">
							<div class="col-md-4">
								<div class="team-player">
									<img src="assets/img/Miglop.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised" />
									<h4 class="title">Inversiones Miglop & Asoc</h4>
									<h4 class="title">2017 Maturín-Venezuela</h4>
									<p class="category text-info">{{ 'profile.professional.job1.position' | translate }}</p>
									<p class="description">{{ 'profile.professional.role' | translate }}: {{ 'profile.professional.job1.description' | translate }} </p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="team-player">
									<img src="assets/img/Conframa.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised" />
									<h4 class="title">Conframa S.A.</h4>
									<h4 class="title">2017 Maturín-Venezuela</h4>
									<p class="category text-info">{{ 'profile.professional.job2.position' | translate }}</p>
									<p class="description">{{ 'profile.professional.role' | translate }}: {{ 'profile.professional.job2.description' | translate }}</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="team-player">
									<img src="assets/img/B&L.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised" />
									<h4 class="title">B&L Inversiones S.A</h4>
									<h4 class="title">2018 Maturín-Venezuela</h4>
									<p class="category text-info">{{ 'profile.professional.job3.position' | translate }}</p>
									<p class="description">{{ 'profile.professional.role' | translate }}: {{ 'profile.professional.job3.description' | translate }} </p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="team-player">
									<img src="assets/img/QuiriquireGas.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised" />
									<h4 class="title">Quiriquire Gas S.A.</h4>
									<h4 class="title">2018-2021 Maturín-Venezuela</h4>
									<p class="category text-info">{{ 'profile.professional.job4.position' | translate }}</p>
									<p class="description">{{ 'profile.professional.role' | translate }}: {{ 'profile.professional.job4.description' | translate }}</p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="team-player">
									<img src="assets/img/A2S.png" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised" />
									<h4 class="title">A2System</h4>
									<h4 class="title">2021 Málaga-España ({{ 'profile.professional.type' | translate }})</h4>
									<p class="category text-info">{{ 'profile.professional.job5.position' | translate }}</p>
									<p class="description">{{ 'profile.professional.role' | translate }}: {{ 'profile.professional.job4.description' | translate }} </p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<app-contact></app-contact>
		</div>
	</div>
</div>
