/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";
body {
    height: 100%;
    background: #314755; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #aad7ec,
      #535b61
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #8591ee,
      #535b61
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
